
h1 {
  font-size: 60px;
  text-align: center;
  color:brown;
}

p, li, ul, ol{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
  color: coral;
}


html {
  background-color: cyan;
}

hr{
border-top: 2px dotted coral;
}

div{
border-radius: 30px;
}

img {
  border-radius: 10% 30% 50% 70%;
  margin: 2;
}
